$target-xs: "screen and (max-width: 389px)";
$target-s: "screen and (min-width: 390px) and (max-width: 440px)";
$target-m: "screen and (min-width: 441px) and (max-width: 1023px)";
$target-l: "screen and (min-width: 1024px) and (max-width: 1019px)";
$target-xl: "screen and (min-width: 1920px)";

$default-font-base: 16;
